.btn {
    letter-spacing: .2rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
    padding: 11px 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.14285714rem;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgb(10 6 29 / 69%);  
    }
    .btn-color {
        color: #fff;
        border-color: #c5c5c5c2
    
    }
    .btn-block {
        width: 336px;
    }
    .bg_slider {
        --initialTextColor: #ffff;
        --slideTextColor:#fff;

        --initialBgColor:  #1a4e65;
        --slideBgColor: #3a96be;

        color: var(--initialTextColor);

        background-image: linear-gradient(90deg,
            var(--initialBgColor) 0%,
            var(--initialBgColor) 50%,
            var(--slideBgColor) 50%,
            var(--slideBgColor) 100%);
            background-size: 200%;
            transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
            color .2s linear;
            transition-delay: 0.0s, 0.15s;
        }

        .bg_slider:hover {
        cursor: pointer;
        color: var(--slideTextColor);
        background-position: -100% 100%;
        box-shadow: 0 0 15px hsl(249, 9%, 54%);
        }
        .btn-call{
        --initialTextColor: rgb(19, 14, 14);
        --slideTextColor:rgb(10, 7, 7);

        --initialBgColor:  #fff;
        --slideBgColor: #3a96be;
        }
        .btns{
            display: block;

        }
        @media screen and (max-width: 600px){

                .btn-submit, .btn-book, .btn-call{
    width: 100%;
}
        }
        @media screen and (max-width: 933px){
            .form-btn{
                width: 100%;
            }
                    }

