img.explore {
    margin-top: auto
}

p {
    font-size: 20px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom {
    margin-bottom: auto !important;
}

.slideshow-container {
    height: 545px;
    overflow: hidden;
    border-radius: 10px;
}

h1.what_to_do {
    letter-spacing: 2px;
}

.mySlides {
    height: 100%;
}

img.explore {
    height: 100%;
}

.lessMorebtn {
    cursor: pointer;
}

@media only screen and (min-width: 1100px) {
    .row {
        position: relative;
        left: 2%;
    }
}

@media only screen and (min-width: 900px) {
    .lessMorebtn {
        display: none;
    }
    /* .w3-col.l8 {
        margin: auto;
    } */
}

@media only screen and (min-width: 720px) {
    h1.header {
        font-size: 40px;
        float: right;
    }
}

@media only screen and (max-width: 900px) {
    #more {
        display: none;
    }
    .slideshow-container {
        height: inherit;
    }
}

/*---- weather widget---  */

.weatherwidget-io {
    opacity: 0.4;
}

.weatherwidget-io>a {
    float: left;
    width: 12%;
}

@media (min-width: 993px) {
    .w3-col.l4 {
        width: 26.33333%;
    }
}