* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

img.explore{
    border-radius: 10px;
    margin-top: 30px;
    height: inherit;
}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  overflow: hidden;
  max-width: 1000px;
  position: relative;
  border-radius: 10px;
}

/* Caption text */
.text {
  bottom: 8px;
  width: 100%;
  font-size: 15px;
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  overflow: hidden;
  position: relative;
  animation-name: fade;
  animation-duration: 5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
}
.fade img {
  max-width: 100%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.fade:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.content {
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    /* width: 100%; */
    padding: 20px;
    width: 45%
}

@media only screen and (max-width: 616px){
    
.content button{
  font-size:5vw;
  margin: 0.4em auto;
}
        .content p{
        display: none;
      }
  }
.mySlides{
    position: relative;
}
.button {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    background: none;
    font-weight: 700;
    font-size: 1.4rem;
    border: 3px solid #fff;
    padding: 4px 9px 4px 9px;
    text-transform: uppercase;
    transition: all .2s linear;
}
.button:hover {
  color: gray;
  background-color: white;
}
.intro-narrative__heading::after {
  bottom: 0;
  left: 50%;
  content: "";
  width: 3rem;
  display: block;
  border-bottom: .2rem solid #d81ba4;
}
.w3-content{
    margin-bottom: -16px;
    letter-spacing: -4px;
}
h1.what_to_do{
    margin: 30px;
    font-weight: 200;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* letter-spacing: normal;    */
}

h1 {
  letter-spacing: 3px;
}
p.things-to-do{
  font-size: 33px;
  font-weight: 200;
  margin-bottom: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.w3-row-padding.w3-center.box-hidden {
  margin-bottom: 20px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
